<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Modificar Evento</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="__ayuda()"><span class="glyphicon glyphicon-info-sign"></span></a></li>
<li><a ng-click="VVerEvento1()"
       ng-show="actor=='administrador' || false">
    Regresar</a></li>
<li><a ng-click="ASalir2()"
       ng-show="actor=='administrador' || actor=='usuario' || false">
    Salir</a></li>

            </ul>
        </div>
    </div>
</nav>

    <form name="fEventoForm" ng-submit="AModificarEvento0(fEventoForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' :  fEventoSubmitted && fEventoForm.nombre.$invalid && fEventoForm.nombre.$pristine && fEventoSubmitted}"><label for="fEvento_nombre">Nombre</label><input id="fEvento_nombre" type="text" name="nombre" class="form-control" ng-model="fEvento.nombre" placeholder="Nombre" required ng-minlength="2" ng-maxlength="128"/><p ng-show="fEventoSubmitted && fEventoForm.nombre.$invalid" class="help-block">Error en campo Nombre.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  fEventoSubmitted && fEventoForm.descripccion.$invalid && fEventoForm.descripccion.$pristine && fEventoSubmitted}"><label for="fEvento_descripccion">Descripccion</label><textarea id="fEvento_descripccion" name="descripccion" class="form-control" ng-model="fEvento.descripccion" placeholder="Descripccion" required></textarea><p ng-show="fEventoSubmitted && fEventoForm.descripccion.$invalid" class="help-block">Error en campo Descripccion.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  fEventoSubmitted && fEventoForm.ubicacion.$invalid && fEventoForm.ubicacion.$pristine && fEventoSubmitted}"><label for="fEvento_ubicacion">Ubicacion</label><textarea id="fEvento_ubicacion" name="ubicacion" class="form-control" ng-model="fEvento.ubicacion" placeholder="Ubicacion" required ng-minlength="2" ng-maxlength="256"></textarea><p ng-show="fEventoSubmitted && fEventoForm.ubicacion.$invalid" class="help-block">Error en campo Ubicacion.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  fEventoSubmitted && fEventoForm.fecha.$invalid && fEventoForm.fecha.$pristine && fEventoSubmitted}"><label for="fEvento_fecha">Fecha</label><input id="fEvento_fecha" type="date" name="fecha" class="form-control" ng-model="fEvento.fecha" placeholder="Fecha" required ng-minlength="10" ng-maxlength="10"/><p ng-show="fEventoSubmitted && fEventoForm.fecha.$invalid" class="help-block">Error en campo Fecha.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  fEventoSubmitted && fEventoForm.capacidad.$invalid && fEventoForm.capacidad.$pristine && fEventoSubmitted}"><label for="fEvento_capacidad">Capacidad</label><input id="fEvento_capacidad" type="number" name="capacidad" class="form-control" ng-model="fEvento.capacidad" placeholder="Capacidad" required/><p ng-show="fEventoSubmitted && fEventoForm.capacidad.$invalid" class="help-block">Error en campo Capacidad.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  fEventoSubmitted && fEventoForm.disponibilidad.$invalid && fEventoForm.disponibilidad.$pristine && fEventoSubmitted}"><label for="fEvento_disponibilidad">Disponibilidad</label><input id="fEvento_disponibilidad" type="number" name="disponibilidad" class="form-control" default= 1200 ng-model="fEvento.disponibilidad" placeholder="Disponibilidad" required ng-minlength="1" ng-maxlength="10000000000000000000"/><p ng-show="fEventoSubmitted && fEventoForm.disponibilidad.$invalid" class="help-block">Error en campo Disponibilidad.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  fEventoSubmitted && fEventoForm.afiche.$invalid && fEventoForm.afiche.$pristine && fEventoSubmitted}"><label for="fEvento_afiche">Afiche</label><input type="file" id="fEvento_afiche" name="afiche" class="form-control" file="fEvento.afiche" placeholder="Afiche" /><p ng-show="fEventoSubmitted && fEventoForm.afiche.$invalid" class="help-block">Error en campo Afiche.</p></div>
        <button type="submit" class="btn btn-perso btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span>Modificar
        </button>
    </form>
    <hr />


<div id="right"></div><script type="text/ng-template" id="ayuda_VModificarEvento.html">
<br>
</script>