<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Evento</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="VModificarEvento0()"
       ng-show="actor=='administrador' || false">
  Modificar Evento</a></li>
<li><a ng-click="AEliminarEvento1()"
       ng-show="actor=='administrador' || false">
  Eliminar Evento</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="VPrincipalAdministrador4()"
       ng-show="actor=='administrador' || false">
    Regresar</a></li>
<li><a ng-click="ASalir5()"
       ng-show="actor=='administrador' || actor=='usuario' || false">
    Salir</a></li>

            </ul>
        </div>
    </div>
</nav>

<table>
    <td width="50%" height="100%">
        <h1 align="center">Datos del Evento</h1><br>
        <table template-pagination="pager.html" class="table table table-striped" align="center">
            <tr><td align="center"><b>{{"Nombre:           " + res['data100']['nombre']}}</b></td></tr>
            <tr><td align="center"><b>{{"Descripción:      " + res['data100']['descripcion']}}</b></td></tr>
            <tr><td align="center"><b>{{"Ubicación:        " + res['data100']['ubicacion']}}</b></td></tr>
            <tr><td align="center"><b>{{"Fecha:            " + res['data100']['fecha']}}</b></td></tr>
            <tr><td align="center"><b>{{"Capacidad:        " + res['data100']['capacidad']}}</b></td></tr>
            <tr><td align="center"><b>{{"Disponibilidad:   " + res['data100']['disponibilidad']}}</b></td></tr>
        </table>
    </td>
    <td width="50%" height="100%">
        <div width="100%" height="100%">
            <iframe width="100%" height="500px" src="{{res['data100']['path']}}"></iframe>
        </div>
    </td>
</table>

<br>
<h3 align="center">Lista de Participantes</h3>
<br>

        <table ng-table="tableParams3" template-pagination="pager.html" class="table">
            <tr ng-repeat="row in $data">
                <td data-title="'Nombre'">{{row['nombres']}}</td>
                <td data-title="'Apellidos'">{{row['apellidos']}}</td>
                <td data-title="'Asistio'">{{row['asistencia']}}</td>
                <td><a ng-show="actor=='administrador' || false" ng-click="APersonaAsistio3(row['idPersona'])">Cambiar Asistencia</a></td>
            </tr>
        </table>

<hr />


<div id="right"></div>