<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Evento</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="ACredencial0()"
       ng-show="actor=='usuario' || false">
  Obtener Credencial</a></li>
<li><a ng-click="ACertificado1()"
       ng-show="actor=='usuario' || false">
  Recibir Certificado</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="VEventosInscritos3()"
       ng-show="actor=='usuario' || false">
    Regresar</a></li>
<li><a ng-click="ASalir4()"
       ng-show="actor=='administrador' || actor=='usuario' || false">
    Salir</a></li>

            </ul>
        </div>
    </div>
</nav>

        <h1 align="center">Datos del Evento</h1><br>
        <table template-pagination="pager.html" class="table table table-striped" align="center">
            <tr><td><b>{{"Nombre:           " + res['data101']['nombre']}}</b></td></tr>
            <tr><td><b>{{"Descripción:      " + res['data101']['descripcion']}}</b></td></tr>
            <tr><td><b>{{"Ubicación:        " + res['data101']['ubicacion']}}</b></td></tr>
            <tr><td><b>{{"Fecha:            " + res['data101']['fecha']}}</b></td></tr>
            <tr><td><b>{{"Disponibilidad:   " + res['data101']['disponibilidad'] + "/" + res['data101']['capacidad']}}</b></td></tr>
        </table>


<div id="right"></div>